if(plan < 4)
        {
             ans_plan+= "Профессиональная склонность не выражена.\n\n";
        }
        else if(3<plan<7)
        {
             ans_plan+="Слабо выраженная профессиональная склонность.\n\n";
        }
        else if(6<plan<10)
        {
             ans_plan+="Присутствует склонность к этому виду деятельности.\n\n";
        }
        else
        {
             ans_plan+="Ярко выраженная профессиональная склонность.\n\n";
        }



        if(ekstrim < 4)
        {
             ans_ekstrim+="Профессиональная склонность не выражена.\n\n";
        }
        else if(3<ekstrim<7)
        {
             ans_ekstrim+="Слабо выраженная профессиональная склонность.\n\n";
        }
        else if(6<ekstrim<10)
        {
             ans_ekstrim+="Присутствует склонность к этому виду деятельности.\n\n";
        }
        else
        {
             ans_ekstrim+="Ярко выраженная профессиональная склонность.\n\n";
        }



        if(estetik < 4)
        {
             ans_estetik+="Профессиональная склонность не выражена.\n\n";
        }
        else if(<3estetik<7)
        {
             ans_estetik+="Слабо выраженная профессиональная склонность.\n\n";
        }
        else if(<6estetik<10)
        {
             ans_estetik+="Присутствует склонность к этому виду деятельности.\n\n";
        }
        else
        {
             ans_estetik+="Ярко выраженная профессиональная склонность.\n\n";
        }




        if(prakt_deyat < 4)
        {
             ans_prakt_deyat+="Профессиональная склонность не выражена.\n\n";
        }
        else if(3<prakt_deyat<7)
        {
             ans_prakt_deyat+="Слабо выраженная профессиональная склонность.\n\n";
        }
        else if(6<prakt_deyat<10)
        {
             ans_prakt_deyat+="Присутствует склонность к этому виду деятельности.\n\n";
        }
        else
        {
             ans_prakt_deyat+="Ярко выраженная профессиональная склонность.\n\n";
        }


        if(issledovanya < 4)
        {
             ans_issledovanya+="Профессиональная склонность не выражена.\n\n";
        }
        else if(3<issledovanya<7)
        {
             ans_issledovanya+="Слабо выраженная профессиональная склонность.\n\n";
        }
        else if(6<issledovanya<10)
        {
             ans_issledovanya+="Присутствует склонность к этому виду деятельности.\n\n";
        }
        else
        {
             ans_issledovanya+="Ярко выраженная профессиональная склонность.\n\n";
        }


        if(rabota_ludi < 4)
        {
             ans_rabota_ludi+="Профессиональная склонность не выражена.\n\n";
        }
        else if(3<rabota_ludi<7)
        {
             ans_rabota_ludi+="Слабо выраженная профессиональная склонность.\n\n";
        }
        else if(6<rabota_ludi<10)
        {
             ans_rabota_ludi+="Присутствует склонность к этому виду деятельности.\n\n";
        }
        else
        {
             ans_rabota_ludi+="Ярко выраженная профессиональная склонность.\n\n";
        }