{% extends 'base.html' %}
{% block content %}


<p>
    <img style="border-radius: 100px;" src="/static/images_avatar/avatar.png"  width="120" height="120">
    <img style="border-radius: 100px;"  src="/static/images_avatar/avatar-1.png"  width="120" height="120">
    <img style="border-radius: 100px;"  src="/static/images_avatar/avatar-2.png"  width="120" height="120">
    <img style="border-radius: 100px;"  src="/static/images_avatar/avatar-3.png"  width="120" height="120">
    <img style="border-radius: 100px;"  src="/static/images_avatar/avatar-4.png"  width="120" height="120">
    <img style="border-radius: 100px;"  src="/static/images_avatar/avatar-5.png" width="120" height="120">
    <img style="border-radius: 100px;"  src="/static/images_avatar/avatar-6.png" width="120" height="120">
    <img style="border-radius: 100px;"  src="/static/images_avatar/avatar-7.png" width="120" height="120">
    <img style="border-radius: 100px;"  src="/static/images_avatar/avatar-8.png" alt="Фотография 9" width="120" height="120">
    <img style="border-radius: 100px;"  src="/static/images_avatar/avatar-9.png" alt="Фотография 10" width="120" height="120">
    <img style="border-radius: 100px;"  src="/static/images_avatar/avatar-10.png" alt="Фотография 11" width="120" height="120">
    <img style="border-radius: 100px;"  src="/static/images_avatar/avatar-11.png" alt="Фотография 12" width="120" height="120">
    <img style="border-radius: 100px;"  src="/static/images_avatar/avatar-12.png" alt="Фотография 13" width="120" height="120">
    <img style="border-radius: 100px;"  src="/static/images_avatar/avatar-13.png" alt="Фотография 14" width="120" height="120">
    <img style="border-radius: 100px;"  src="/static/images_avatar/avatar-14.png" alt="Фотография 15" width="120" height="120">
    <img style="border-radius: 100px;"  src="/static/images_avatar/avatar-15.png" alt="Фотография 16" width="120" height="120">
    <img style="border-radius: 100px;"  src="/static/images_avatar/avatar-16.png" alt="Фотография 17" width="120" height="120">
    <img style="border-radius: 100px;"  src="/static/images_avatar/avatar-17.png" alt="Фотография 18" width="120" height="120">
    <img style="border-radius: 100px;"  src="/static/images_avatar/avatar-18.png" alt="Фотография 19" width="120" height="120">
    <img style="border-radius: 100px;"  src="/static/images_avatar/avatar-19.png" alt="Фотография 20" width="120" height="120">
    <img style="border-radius: 100px;"  src="/static/images_avatar/avatar-20.png" alt="Фотография 21" width="120" height="120">
  </p>

{% endblock %}