{% extends 'base.html' %}

{% block content %}

<section class="col border ру-2 ">
    <p></p>
    <ul class = roundcorner>
        {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{msg}}</div>
        {% endfor %}
        <p></p>
        {% for p in tests %}
        <li>
            {% for f in test_finish %}
                {% if p[1] == f[1] %}
                    <p class=""><a href="{{ p[3] }}">{{ p[1] }}</a></p>
                    <p class="">{{ p[2] | striptags }}</p>
                {% else %}
                    <p class=""><a href="{{ p[3] }}">{{ p[1] }}</a></p>
                    <p class="">{{ p[2] | striptags }}</p>
                {% endif %}
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
    <p></p>

</section>
{% endblock %}