{% extends 'base.html' %}

{% block content %}
    <span style='font-size:12.0pt;'>
    <script type="text/javascript">
    // Заголовок страницы (h1)
    var title = "Айзенк «Личностный опросник»";
    // Подзаголовок (h2)
    var subtitle = "Инструкция: «Вам предлагается ответить на 57 вопросов. Вопросы направлены на выявление вашего обычного способа поведения. Постарайтесь представить типичные ситуации и дайте первый «естественный» ответ, который придет вам в голову. Отвечайте быстро и точно. Помните, что нет «хороших» или «плохих» ответов. Если вы согласны с утверждением, поставьте рядом с его номером знак + (да), если нет — знак - (нет)».";
    // Это ваши вопросы
   var questions=[
{
	text: "Тебе нравится находиться в шумной и веселой компании?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Часто ли ты нуждаешься в помощи других ребят?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Когда тебя о чем-либо спрашивают, ты чаще всего быстро находишь ответ?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Бываешь ли ты очень сердитым, раздражительным?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Часто ли у тебя меняется настроение?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Бывает ли такое, что тебе иногда больше нравится быть одному, чем встречаться с другими ребятами?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Тебе иногда мешают уснуть разные мысли?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Ты всегда выполняешь все сразу, так, как тебе говорят?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Любишь ли ты подшучивать над кем-нибудь?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Было ли когда-нибудь так, что тебе становится грустно без особой причины?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Можешь ли ты сказать о себе, что ты вообще веселый человек?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Ты когда-нибудь нарушал правила поведения в школе?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Бывает ли так, что иногда тебя почти все раздражает?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Тебе нравилась бы такая работа, где все надо делать очень быстро?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Было ли когда-нибудь так, что тебе доверили тайну, а ты по каким-либо причинам не смог ее сохранить?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Ты можешь без особого труда развеселить компанию скучающих ребят?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Бывает ли так, что твое сердце начинает сильно биться, даже если ты почти не волнуешься?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Если ты хочешь познакомиться с другим мальчиком или девочкой, то ты всегда первым начинаешь разговор?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Ты когда-нибудь говорил неправду?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Ты очень расстраиваешься, когда тебя ругают за что-нибудь?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Тебе нравится шутить и рассказывать веселые истории своим друзьям?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Ты иногда чувствуешь себя усталым без особой причины?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Ты всегда выполняешь то, что тебе говорят старшие?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Ты, как правило, всегда бываешь всем доволен?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Можешь ли ты сказать, что ты чуть-чуть более обидчивый человек, чем другие?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Тебе всегда нравится играть с другими ребятами?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Было ли когда-нибудь так, что тебя попросили дома помочь по хозяйству, а ты по какой-то причине не смог этого сделать?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Бывает ли, что у тебя без особой причины кружится голова?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "У тебя временами бывает такое чувство, что тебе все надоело?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Ты любишь иногда похвастать?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Бывает ли такое, что, находясь в обществе других ребят, ты чаще всего молчишь?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Ты обычно быстро принимаешь решения?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Ты шутишь иногда в классе, особенно если там нет учителя?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Тебе временами снятся страшные сны?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Можешь ли ты веселиться, не сдерживая себя, в компании других ребят?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Бывает ли, что ты так волнуешься, что не можешь усидеть на месте?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Тебя вообще легко обидеть или огорчить?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Случалось ли тебе говорить о ком-либо плохо?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Можешь ли ты сказать о себе, что ты беззаботный человек?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Если ты оказываешься в глупом положении, то ты потом долго расстраиваешься?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Ты всегда ешь все, что тебе дают?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Когда тебя о чем-то просят, тебе всегда трудно отказывать?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Ты любишь часто ходить в гости?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Был ли хотя бы раз в твоей жизни случай, когда тебе было очень плохо?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Бывало ли такое, чтобы ты когда-нибудь грубо разговаривал с родителями?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Как ты думаешь, тебя считают веселым человеком?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Ты часто отвлекаешься, когда делаешь уроки?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Бывает ли такое, что тебе не хочется принимать участие в общем веселье?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Говоришь ли ты иногда первое, что приходит в голову?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Ты почти всегда уверен, что справишься с делом, за которое взялся?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Бывает, что ты чувствуешь себя одиноким?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Ты обычно стесняешься заговаривать первым с незнакомыми людьми?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Ты часто спохватываешься, когда уже поздно?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Когда кто-либо кричит на тебя, ты тоже кричишь в ответ?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Бывает ли, что ты становишься очень веселым или печальным, без особой причины?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "Тебе иногда кажется, что трудно получить настоящее удовольствие от компании ребят?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
{
	text: "На тебя влияет погода?",
	answers: ["да", "нет"],
	correctAnswer: 0,
	correctAnswer1: 1,
},
];








    var yourAns = new Array;
    var score = 0;
    var lying=0, invertnost=0, neirotizm=0;
    function Engine(question, answer) {yourAns[question]=answer;}

    function Score()
    {
       var answerText = "Результаты:\n";
       for(var i = 0; i < yourAns.length; ++i)
       {
        var num = i+1;

        if((i==2 || i==22 || i==40) && yourAns[i]==questions[i].correctAnswer)
        {
        lying+=1;
        }
        if((i==3 || i==11 || i==14 || i==18 || i==26 || i==29 || i==33 || i==35 || i==44) && yourAns[i]==questions[i].correctAnswer1)
        {
        lying+=1;
        }



       if((i==0 || i==2 || i==8|| i==10 || i==13 || i==15 || i==17 || i==20 || i==23 || i==25 || i==31 || i==34 || i==38 || i==42 || i==49 || i==53 ) && yourAns[i]==questions[i].correctAnswer)
        {
        invertnost+=1;
        }
        if((i==5 || i==30 || i==47 || i==51 || i==55 ) && yourAns[i]==questions[i].correctAnswer1)
        {
        invertnost+=1;
        }


        if((i==1 || i==4 || i==6 || i==9 || i==12 || i==16 || i==19 || i==21 || i==24 || i==27 || i==28) && yourAns[i]==questions[i].correctAnswer)
        {
        neirotizm+=1;
        }
        if((i==33 || i==35 || i==36 || i==39 || i==41 || i==43 || i==46 || i==48 || i==50 || i==52 || i==54) && yourAns[i]==questions[i].correctAnswer1)
        {
        neirotizm+=1;
        }

        }


        if(invertnost>10 && neirotizm<11)
        {
            answerText="«Чистый» сангвиник быстро приспосабливается к новым условиям, быстро сходится с людьми, общителен. Чувства легко возникают и сменяются, эмоциональные переживания, как правило, неглубоки. Мимика богатая, подвижная, выразительная. Несколько непоседлив, нуждается в новых впечатлениях, недостаточно регулирует свои импульсы, не умеет строго придерживаться выработанного распорядка, жизни, системы в работе. В связи с этим не может успешно выполнять дело, требующее равной затраты сил, длительного и методично- го напряжения, усидчивости, устойчивости внимания, терпения. При отсутствии серьезных целей, глубоких мыслей, творческой деятельности вырабатываются поверхностность и непостоянство.";
            document.getElementById('score').value = answerText;
         }
        if(invertnost<10 && neirotizm<11)
        {
            answerText="Флегматик характеризуется	сравнительно низким	уровнем	активности поведения, новые формы которого вырабатываются медленно, но являются стойкими. Обладает медлительностью и спокойствием в действиях, мимике и речи, ровностью, постоянством, глубиной чувств и настроений. Настойчивый и упорный «труженик жизни», он редко выходит из себя, не склонен к аффектам, рассчитав свои силы, доводит дело до конца, ровен в отношениях, в меру общителен, не любит попусту болтать. Экономит силы, попусту их не тратит. В зависимости от условий в одних случаях флегматик может характеризоваться «положительными» чертами — выдержкой, глубиной мыслей, постоянством, основательностью и т. д., в других — вялостью, безучастностью к окружающему, ленью и безволием, бедностью и слабостью эмоций, склонностью к выполнению одних лишь привычных действий.";
            document.getElementById('score').value = answerText;
         }
         if(invertnost<10 && neirotizm>11)
        {
            answerText="Меланхолик. У него реакция часто не соответствует силе раздражителя, присутствует глубина и устойчивость чувств при слабом их выражении. Ему трудно долго на чем-то сосредоточиться. Сильные воздействия часто вызывают у меланхо- лика продолжительную тормозную реакцию (опускаются руки). Ему свойственны сдержанность и приглушенность моторики и речи, застенчивость, робость, нерешительность. В нормальных условиях меланхолик — человек глубокий, содер- жательный, может быть хорошим тружеником, успешно справляться с жизненными задачами. При неблагоприятных условиях может превратиться в замкнутого, боязливого, тревожного, ранимого человека, склонного к тяжелым внутренним переживаниям таких жизненных обстоятельств, которые вовсе этого не заслуживают. ";
            document.getElementById('score').value = answerText;
         }
        if(invertnost>10 && neirotizm>11)
        {
            answerText="Холерик отличается повышенной возбудимостью, действия прерывисты. Ему свойственны резкость и стремительность движений, сила, импульсивность, яркая выраженность эмоциональных переживаний. Вследствие неуравновешенности, увлекшись делом, склонен действовать изо всех сил, истощаться больше, чем следует. Имея общественные интересы, темперамент проявляет в инициативности, энергичности, принципиальности. При отсутствии духовной жизни холерический темперамент часто проявляется в раздражительности, эффективности, несдержанности, вспыльчивости, неспособности к самоконтролю при эмоциональных обстоятельствах.";
            document.getElementById('score').value = answerText;
         }




       alert(answerText);
       yourAns = [];
       score = 0;
       clearForm("quiz");
    }
    function clearForm(name) {
       var f = document.forms[name];
       for(var i = 0; i < f.elements.length; ++i) {
        if(f.elements[i].checked)
            f.elements[i].checked = false;
    }
    }
    </script>

    <style>
    span.quest {font-weight: bold;}
    </style>

    <h1><script>document.write(title)</script></h1>
    <h2><script>document.write(subtitle)</script></h2>




    <form name="quiz" action="{{url_for('aizek_temperament')}}" method="post">
        <ol>
        <script>
        for(var q=0; q<questions.length; ++q) {
           var question = questions[q];
           var idx = 1 + q;

           document.writeln('<li><span class="quest">' + question.text + '</span><br/>');
           for(var i in question.answers) {
            document.writeln('<input type=radio name="q' + idx + '" value="' + i +
            '" onClick="Engine(' + q + ', this.value)">' + question.answers[i] + '<br/>');
        }
        }
        </script>
        </ol>
         <p><input type="hidden" name="id_user" value="{{ current_user.get_id() }}" required />
         <p><input type="hidden" name="name_test" value="Айзенк «Личностный опросник»" required />
         <input type="hidden" data-index="1" name="result" id="score" />
        <input class="btn btn-success" type="Submit" onClick="Score()" value="Проверить результаты" />
    </form>

{% endblock %}