{% extends 'base.html' %}
{% block content %}


<div class="container-fluid d-flex h-100 flex-column">
  <div class="row h-75" style="margin: 0 0 5px 0;">
    	<p></p>
        <h2 style="margin: 0 0 0 10px;">Достижения и результаты тестирования:</h2>
        <button style="position: absolute; right: 0; margin: 2px 2em;" id="button_avatar" type="button" onClick="sortList(document.getElementsByClassName('list-posts')[0]);" class="btn btn-secondary btn-xs">Сначала новые</button>
  </div>
  <div class="row h-25">
	  <form>
        <div data-spy="scroll" data-offset="0"  style="overflow: scroll; height: 90%;">
                <ol class ="list-posts" id="my_rezults">
                    {% for p in result_test %}
                        <ul>
                        <p class="btn-success">{{ p[1] }}</p>
                        <p class="btn-white">{{ p[3] }}</p>
                        </ul>
                    {% endfor %}
                </ol>
                <p></p>
        </div>
	  </form>
  </div>
</div>
<script src="static/js/sort_lists.js"></script>
{% endblock %}