{% extends 'base.html' %}
{% block content %}


<div class="container-fluid d-flex h-100 flex-column">
  <div class="row h-75">
    	<p></p>
        <h2 style="margin: 0 0 0 10px;">Результаты тестирования:</h2>
       {% if result_test %}
        <button style="position: absolute; right: 0; margin: 2px 2em;" id="button_avatar" type="button" onClick="sortList(document.getElementsByClassName('list-posts')[0]);" class="btn btn-secondary btn-xs">Сначала старые</button>
        {% endif %}
  </div>
  <div class="row h-25" style="margin: 10px 0 0 0;">
      {% if result_test %}
	  <form>
        <div data-spy="scroll" data-offset="0"  style="overflow: scroll; min-height: 500px; height: 10%;">
                <ol class ="list-posts" id="my_rezults">
                    {% for p in result_test %}
                        <ul>
                            <div class="alert">
                                <table style="width: 100%;">
                                   <tr>
                                    <td class="alert alert-primary" style="text-align: left;  font-size: 16pt; ">{{ p[1] }}</td>
                                    <td class="alert alert-primary" style="text-align: right;">{{ moment(p[5]).format('lll') }}</td>
                                   </tr>
                                  </table>
                                <hr>
                                <p style="max-width: 70%;" class="btn-white"><pre>{{ p[4] }}</pre></p>
                            </div>
                        </ul>
                    {% endfor %}
                </ol>
                <p></p>
        </div>
	  </form>
      {% else %}
      <h4>Вы пока не завершили ни одного тестирования :(</h4>
      {% endif %}
  </div>
</div>
<script src="static/js/sort_lists.js"></script>
{% endblock %}